%h1.page-headline Hi, i'm Tuncay. I love movies. Let me recommend you some.

%nav.navigation-container
  %ul
    %li
      %p by decade
      %ul
        - @decades.each do |string, decade|
          %li
            = link_to movies_filter_path("by_decade", "#{decade}" ) do
              %p= string
    %li
      %p by genre
      %ul
        - @genres.each do |genre|
          %li
            = link_to movies_filter_path("by_genre", "#{genre}") do
              %p= genre
    %li
      = link_to movies_filter_path('favorite_movies', '5') do
        %p favorite movies
    %li
      = link_to movies_filter_path('least_favorite_movies', '1') do
        %p least favorite movies
